*{
    vertical-align: top;
}

/*This is the template/normal sized computer aka what the css standard is*/
/* @media only screen and (min-width: 1024px) and (max-width: 1439px) { */
    .addFriendText{ /* the text on the add friend button on the show all users html */
        text-indent: 16px;
    }

    .allUsersDiv{
        /* display: table;     */
        /* width: 254px; */
        height: 200px;
        border-radius: 10px;
        overflow-y: scroll;
    }

    .allUsersLink{
        font-size: small; 
    }

    .bi-chat-dots-fill{ /* The message symbol inside the button for each individual friend */
        margin-left: -2px;
        margin-top: -3px;
    }

    #birthdayInfoBox{
        border: 1px solid #f1f1f1;
        /* position: fixed; */
        margin-left: 30%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: small;
    }

    #birthdayLabel{
        display: inline-block
    }

    #button{  /*The button holding the save symbol */
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-top: 100px;
        position: absolute;
        transform: translateX(-90%);
    }

    .buttonOfNavIcons{
        border-color: transparent;
        /* margin-top: 8px; */
    }

    .clearImage{ /*For when the image is in the database */
        font-weight: bolder; 
        color: black;
        top: 4px;
        right: 60px;
        font-size: small;
        position: absolute;
        transform: translateX(44%);   
    }

    #clearImage{ /*For when the image is only a preview */
        font-weight: bolder; 
        color: black;
        top: 4px;
        right: 60px;
        font-size: small;
        position: absolute;
        transform: translateX(44%);   
    }

    #closeBirthdayInfoBoxButton{
        margin-left: 20%;
    }

    .confirmCancelNotificationButton{
        width: 90px;
        height: 30px;
    }

    #commentBin{
        margin-top: -22px;
    }

    .commentIconProfPic{
        width: 30px;
        height: 30px;
        border-radius: 60%;
        margin-top: 6px;
    }

    .commentHeadText{
        margin-left: 10px;
        margin-top: 2px;
        padding-bottom: 2px;
        text-align: left;  
        font-weight: lighter;
    }

    .commentSubDiv{
        position: relative;
        top: -12px;
    }

    .commentSubText{
        text-align: left;   
        font-weight: normal;
        margin-left: 10px;
    }

    .commentTextAreaOnForm{
        resize: none;
    }

    .connectLine{
        margin-top: -1px;
    }

    #createAccount{
        position: relative;
        left: -28px;    
    }

    .decoratedErrorField{
        border:1px solid red;
    }

    .decorativeLine{
        color: #DADDE1;
    }

    .decorativeLineOnLoginForm{
        color: #DADDE1;
    }

    .decorativeLineOnPageNotFound{
        color: #DADDE1;
    }

    .decorativeLineOnRegistrationForm{
        position: relative;
        left: -2px;
        color: #DADDE1;
    }

    .deletePostBin{
        margin-top: -30px;
    }

    .detailsStylingForEachFriend{ /* This is when a user search cannot be found and the friend list shows. Styling for the first and last name */
        margin-top: -20px;
        font-size: small;
    }

    .displayCommentErrors{
        margin-left: 40px;
        margin-bottom: 0px;
    }

    .displayCommentErrors li{
        list-style-type: none;
    }

    .displayMessageErrors li{
        list-style-type: none;
    }

    .dropdown-item{
        border-radius: 6px;
        max-width: 100%;
        white-space: pre-line;
    }

    #errorDialogForFileSize{ /*The div containing the message of the error dialog box for an uploaded image*/
        display: none;
    } 

    #errorDialogForFileType{ /*The div containing the message of the error dialog box for an uploaded image*/
        display: none;
    }

    .firstWallColumn{
        position: fixed;
        z-index: 1; /* prevents the column from disappearing */
    }

    .leftColumnNavIcons{
        position: fixed;
        z-index: 1; /* prevents the column from disappearing */
    }

    .likeUnlikeCommentButtonStylingOnWall{
        border: none;
    }

    .friendsIconName{
        font-size: 12px;
        /* text-align: left; */
    }

    .friendsIconNameWithBlankAvatar{
        font-size: 12px;
        text-align: center;
    }

    .friendsIconProfPic{
        width: 44px;
        height: 44px;
        border-radius: 30%;
        position: relative;
    }

    .friendsDiv{
        height: 200px;
        border-radius: 10px;
        overflow-y: scroll;
    }

    .friendsLinkStyling{
        font-size: small; 
    }

    .friendRequestButtonDiv{
        height: 38px;
    }

    .hide {
        display: none;
    }

    .hideButtons{
        display: none;
    }

    .lastWallColumn{
        /* overflow: hidden;  */
        position: fixed;
        /* position: relative; */
        z-index: 2;
        margin-left: 760px;
    }

    .likeUnlikeCommentButtonStyling{
        border: none;
    }

    .likeUnlikeCommentButtonStylingOnWall{
        border: none;
        height: 20px;
        padding-top: -2px;
        margin-top: -30px;
    }

    .listOfPostedMessages{
        border-radius: 10px;
        /* color: red; */
    }

    .listOfPostedMessagesOnWall{
        border-radius: 10px;
        overflow-x: hidden;
    }

    #logoIcon{
        width: 30px;
        height: 30px;
        border-radius: 60%;
    }

    #mainSendFriendRequestButton{
        position: relative;
        left: 110px;
    }

    .messageContentsDiv{
        height: 48px;
        margin-bottom: -2px;
    }

    .messageContentsDivOnWall{
        height: 40px;
        margin-bottom: 4px;
    }

    #messageBin{
        margin-top: -34px;
    }

    .messageCreatedAt{
        font-size: 8px;
    }

    .messageCreatedAtWithThumbnail{
        font-size: 8px;
    }

    .messageFriendButton{
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .middleWallColumn{
        overflow-y: scroll; 
        z-index: 2;
        margin-left: 280px;
    } 

    /* .nameInPost{
        font-size: 12px;
    } */

    .nav-item{
        list-style-type: none;
    }

    .notificationMenu{
        left: -160px;
        border-radius: 6px;
        height: 528px;
        width: 320px;
        overflow-y: scroll;
        overflow-x: hidden; 
    }

    .notificationNumber{
        border-radius: 50%;
        border: red;
        color: white;
        position: absolute;
        bottom: 14px;
        left: 4px;
        font-size: 14px;
    }

    .nameInNotification{
        font-weight: bold;
        max-width: 100%;
        color: black;
    }

    .nameStylingForEachFriend{
        margin-top: -50px;
        color: black;
        font-weight: bold;
    }

    #navBar{ /* Manages the length of the navigation bar */
        height: 58px;
    }

    .newCommentNotification{
        top: -120px;
    }

    #navIconProfPic{
        width: 30px;
        height: 30px;
        border-radius: 60%;
        margin-top: -4px;
    }

    .newPostNotification{
        top: -80px;
    }

    .noDormBuilding{
        display: none;
    }

    .noFriendsText{
        margin-left: 20px;
    }

    .notificationsDropDownMenuDiv{
        left: 50%; /*positions the left edge of the dropdown in the center of its parent*/
        right: auto; /*ensures that the dropdown's width doesn't get messed up.*/
        transform: translateX(-70%); /*moves the dropdown menu to the left*/
        border-radius: 6px;
        z-index: 998; /* brings it in front of other elements */
        /* padding-bottom: 4px; */
    }

    #notifIconProfPic{
        width: 30px;
        height: 30px;
        border-radius: 60%;
        margin-top: -4px;
    }

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        background: #CCCCCC;
        opacity: .9;
        z-index: 998;
        height: 100%;
        width: 100%; 
    }

    .pageNotFoundDiv{
        height: 514px;
    }

    .pageNotFoundStyling{
        text-align: center;
        margin-left: 14px;
    }

    #pendingFriendRequestButton{ /*The styling of the button on the home page*/
        font-size: 8px;
        text-align: center;
    }

    #postACommentForm{
        top: -10px;
    }

    #postAMessageButton{
        margin-top: 2px;
    }

    #postAMessageForm{
        border-radius: 10px;
    }

    .postMessageProfPic{
        width: 40px;
        height: 40px;
        border-radius: 60%;
        margin-top: 8px;
    }

    .profilePicBanner{
        background-color: white;
        height: 300px;
        border-radius: 10px;
    }

    #profilePicContainer{
        height: 160px;
        width: 160px;
        border: 3px dashed darkgray;
        background-color: #fafafa;
        font-family: "Calibri";
        font-size: 9px;
        text-align: center;
        vertical-align: middle;
        padding-top: 30px;
        color: darkgrey;
        cursor: pointer;
        border-radius: 50%;
        margin-left: 84px;
        margin-bottom: 25px;
        position: relative;
        overflow: hidden;
    }

    #profilePicContainer.dragging {
        border-color: green;
        border-width: 10px;
        opacity: .3;
    }

    #profilePicForm{
        height: 160px;    
    }

    .profilePicBannerLinks{
        color: darkgrey;
        border-color: transparent;
        font-size: 16px;
        font-style: oblique;
        /* font-weight: bold; */
    }

    #profileIntroFormDiv{ /*The div that contains the update intro form*/
        background-color: white;
        position: absolute;
        margin-left: 34%;
        /* margin-top: 20px; */
        top: 20px; /*The lower the number, the higher it rises */
        border: 4px solid #f1f1f1;
        height: 460px;
        cursor: pointer;
    }

    #questionMark{
        display: inline-block;
        background-color: #616870;
        border-radius: 50%;
        color: white;
        
    }

    #regForm{ /*The actual form*/
        overflow: scroll;
        overflow-x: hidden; 
        height: 480px;
        width: 400px;
        background-color: white;
        padding-right: 10px;
        border: 4px solid #f1f1f1;
    }

    #registrationForm{ /*The div that contains the registration form*/
        position: fixed;
        margin-left: 30%;
        top: 14px; /*The lower the number, the higher it rises*/
        height: 490px;
        width: 600px;
    }

    .removeFriendRequestButton{
        font-size: 8px;
        text-align: center;
    }

    .save{
        /* display: inline-block; */
        height: 18px;
        width: 18px;
        transform: translateX(-12%);
    }

    #searchBarForm{
        height: 38px;
        width: 180px;
    }

    .settingsDropDownMenuDiv{
        left: 50%; /*positions the left edge of the dropdown in the center of its parent*/
        right: auto; /*ensures that the dropdown's width doesn't get messed up.*/
        transform: translateX(-100%); /*moves the dropdown menu to the left*/
        border-radius: 6px;
        z-index: 998; /* brings it in front of other elements */
    }

    .table{ /*Style of the table when it displays all the users or the friends*/
        border-radius: 10px;
    }

    #searchBarForm{
        width: 30px;
        height: 30px;
        border-radius: 60%;
    }

    .searchResultsDiv{
        height: 516px;
        overflow-y: scroll;
        overflow-x: hidden; 
        position: fixed;
        left: 382px;
    }

    .showAllUsers{
        display: none;
        left: 10px;
    }
    
    .showFriends{
        display: none;
        position: relative;
        left: 40px;
    }

    small.messageCreatedAtWithThumbnail{
        position: relative;
        top: -18px; 
        left: 20px;
    }

    small.messageCreatedAt{
        position: relative;
        top: -18px; 
        left: 20px;
    }

    .specificIntroCaption{
        font-size: 14px;
        margin-top: 2px;
    }

    .specificIntroDetail{
        font-weight: bold;
        font-size: 13px;
        margin-top: 4px;
    }

    .specificNotification{
        margin-top: -80px;
        height: 100px;
    }

    #submitProfileIntroButton{
        left: 12px;
    }

    .thumbsDown{
        position: relative;
        left: -38px;
    }

    .thumbnailForEachFriend{
            width: 60px;
            height: 60px;
            border-radius: 60%;
            margin-top: 6px;
    }

    .triDiv{ /* The div that contains the three divs(intro div, all users div, and friends div) on the left side of the html*/
        /* display: table;     */
        /* width: 254px; */
        height: 260px;
        border-radius: 10px;
    }

    .ui-dialog .ui-dialog-buttonpane button{ /*The css for the okay button on the error dialog box for uploading an image*/
        background-color: blue;
        color: white;
        border-color: white;
        border-width: 1px;
    }

    .ui-button .ui-icon{ /*The css for the X on the error dialog box for uploading an image*/
        background-image: url(../CSS/redIcons.png);
    }

    .ui-dialog .ui-dialog-titlebar{ /*The css for the top section on the error dialog box for uploading an image*/
        background-color: blue;
        color: white;
    }

    .ui-dialog .ui-dialog-titlebar-close { /*The css for the close button on the error dialog box for uploading an image*/
        /* background-color: red; */
        border-color: white;
        border-width: 1px;
    }

    .ui-icon.ui-icon-alert{ /*The css for the error icon on the error dialog box for uploading an image*/
        float:left; 
        margin:0 7px 20px 0;
        /* background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_ff0000_256x240.png
        ); */ /*another way to change the color of the icon above w this link but better to save the file locally*/
        background-image: url(../CSS/redIcons.png);
    }

    .ui-widget.ui-widget-content{  /*The div of the entire error dialog box for an uploaded image */
        left: 480px; 
        top: 80px; 
        text-align: left;
        vertical-align: top; 
    }

    .uploadedPhotoProperties {
        position: absolute;
        top: -10px;
        left: 50%;
        width: 110%;
        height: 110%;
        transform: translateX(-50%);
    }

    #userDormBuildingID{
        left: 3px;
    }

    #userHomeTownID{
        left: 12px;
    }

    #userMessageID{
        resize: none;
        width: 360px;
        background-color: #F0F2F5;
        border-color: #F0F2F5;
    }

    #userNameText{
        text-align: center;
    }

    #userProfileHeaderCancelButton{
        position: relative;
        left: 20px;
    }

    #userProfileHeaderEditLink{
        margin-left: 146px;
    }

    #userProfileHeaderForm{
        display: none;
    }

    #userProfileHeaderText{
        width: 250px;
        text-align: center;
    }

    #userProfileHeaderTextArea{
        resize: none;
    }

    .userProfileHeaderSaveButton{
        position: relative;
        left: 20px;
    }

    .userReceivesNameOnWall{
        position: relative;
        top: 15px;
        font-size: 12px;
    }

    #userUniversityID{
        bottom: 8px;
    }

    .XForProfileIntroFormStyling{
        right: 4px;
    }

    #XForRegistrationForm{
        margin-left: 80%;
        cursor: pointer;
    }
/* } */
/* The end of the "standard" sized computer aka what the css standard is*/

/*The beginning of the largest sized computer screen*/
@media only screen and (min-width: 1440px) and (max-width: 2560px){
        .allUsersLink{
            padding-left: 60px;
        }

        .clearImage{ /*For when the image is in the database */
            font-weight: bolder; 
            color: black;
            top: 4px;
            right: 120px;
            font-size: small;
            position: absolute;
            transform: translateX(44%);   
        }

        #clearImage{ /*For when the image is in the database */
            font-weight: bolder; 
            color: black;
            top: 4px;
            right: 120px;
            font-size: small;
            position: absolute;
            transform: translateX(44%);   
        }

        .commentSubDiv{
            position: relative;
            top: -12px;
        }

        #createAccount{
            position: relative;
            left: 6px;    
        }

        .decorativeLine{
            margin-left: 2px;
        }

        .decorativeLineOnLoginForm{
            position: relative;
            color: #DADDE1;
            left: 30px;
        }

        .deletePostBinButtonOnWall{
            position: relative;
            left: 80px;
        }

        .editDetailsButtonStyling{
            margin-left: 24px;
        }

        .friendsIconName{
            font-size: 12px;
            padding-left: 20px;
        }

        .friendsIconNameWithBlankAvatar{
            font-size: 12px;
            text-align: center;
            padding-left: 20px;
        }

        .friendsIconProfPic{
            width: 44px;
            height: 44px;
            border-radius: 30%;
            position: relative;
            margin-left: 24px;
        }

        .friendsLinkStyling{
            padding-left: 60px;
        }

        .lastWallColumn{
            position: fixed;
            z-index: 2;
            margin-left: 2280px;
        }

        .likeUnlikeCommentButtonStylingOnWall{
            border: none;
            height: 20px;
            padding-top: 0px;
            margin-top: -20px;
        }

        #mainSendFriendRequestButton{
            position: relative;
            left: 180px;
        }

        .messageContentsDivOnWall{
            height: 40px;
            margin-bottom: 4px;
        }

        .messageTextOnWall{
            padding-bottom: 0px;
        }

        .middleWallColumn{
            overflow-y: scroll; 
            z-index: 2;
            margin-left: 700px;
        } 

        .navBarSecondSection{
            margin-left: 600px;
            padding-left: 140px;
            padding-right: 140px;
        }

        .noFriendsTextDiv{
            position: relative;
            margin-left: 100px;
        }

        #profileIntroFormDiv{ /*The div that contains the update intro form*/
            margin-left: 36%;
            top: 250px; /*The lower the number, the higher it rises */
        }

        #registrationForm{
            position: relative;
            left: 250px;
            top: 50px;
        }

        #regForm{
            overflow: scroll;
            overflow-x: hidden; 
        }

        .searchResultsDiv{
            height: 516px;
            overflow-y: scroll;
            overflow-x: hidden; 
            position: fixed;
            left: 950px;
        }

        .showAllUsers{
            position: relative;
            left: 20px;
        }

        .thumbsDown{
            position: relative;
            left: 130px;
        }

        #userNameText{
            text-align: center;
            margin-right: 60px;
        }

        #userProfileHeaderCancelButton{
            position: relative;
            left: 84px;
        }

        .userProfileHeaderSaveButton{
            position: relative;
            left: 84px;
        }

        .XForProfileIntroFormStyling{
            right: 30px;
            padding-left: 160px;
        }
} /*The ending of the largest sized computer screen*/

/*The beginning of a large sized computer screen*/
@media only screen and (min-width: 1025px)  and (max-width: 1440px) {
        .carrotSymbol{
            position: relative;
            top: 3px;
        }
        
        .clearImage{ /*For when the image is in the database */
            font-weight: bolder; 
            color: black;
            top: 4px;
            right: 120px;
            font-size: small;
            position: absolute;
            transform: translateX(44%);   
        }

        #clearImage{ /*For when the image is only a preview */
            font-weight: bolder; 
            color: black;
            top: 4px;
            right: 120px;
            font-size: small;
            position: absolute;
            transform: translateX(44%);   
        }

        .customizeIntroText{
            position: relative;
            top: -40px;
            left: -2px;
        }

        .decorativeLine{
            margin-left: 74px;
            margin-top: -40px;
            padding-bottom: 10px;
        }

        .decorativeLineOnRegistrationForm{
            position: relative;
            left: -2px;
            color: #DADDE1;
        }

        .deletePostBinButtonOnWall{
            position: relative;
            left: 10px;
        }

        .editDetailsButtonStyling{
            margin-left: 20px;
        }

        .friendsIconName{
            font-size: 12px;
            padding-left: 20px;
        }
        
        .friendsIconNameWithBlankAvatar{
            font-size: 12px;
            text-align: center;
            padding-left: 20px;
        }

        .friendsIconProfPic{
            width: 44px;
            height: 44px;
            border-radius: 30%;
            position: relative;
            margin-left: 24px;
        }

        .lastWallColumn{
            position: fixed;
            z-index: 2;
            margin-left: 1200px;
        }

        #mainSendFriendRequestButton{
            position: relative;
            left: 180px;
        }

        .middleWallColumn{
            overflow-y: scroll; 
            /* position: relative;  */
            /* z-index: 1; */
            margin-left: 400px;
        } 

        .nameInPost{
            font-size: 14px;
        }

        .navBarSecondSection{
            margin-left: 40px;
            padding-left: 140px;
            padding-right: 140px;
        }

        .noFriendsText{
            position: relative;
        }

        #profileIntroFormDiv{ /*The div that contains the update intro form*/
            top: 60px; /*moved it to be in the middle of a larger computer screen */
        }

        #regForm{ /* The actual form */
            position: relative;
            left: 24px;
            overflow: scroll;
            overflow-x: hidden; 
        }

        #registrationForm{ /* The form  div*/
            position: relative;
            left: 80px;
        }

        .searchResultsDiv{
            height: 516px;
            overflow-y: scroll;
            overflow-x: hidden; 
            position: fixed;
            left: 540px;
        }

        .showFriends{
            left: 50px;
        }

        .showFriendsStyling{
            border-style: none;
        }

        .showAllUsers{
            position: relative;
            left: 60px;
        }

        .specificIntroCaption{
            font-size: 16px;
        }

        .specificIntroDetail{
            font-weight: bold;
            font-size: 16px;
            margin-top: 2px;
        }

        .thumbsDown{
            position: relative;
            left: 4px;
        }

        /* #userMessageID{
            width: 580px;
        } */

        #userNameText{
            text-align: center;
            margin-right: 60px;
        }

        #userProfileHeaderCancelButton{
            position: relative;
            left: 84px;
        }

        .userProfileHeaderSaveButton{
            position: relative;
            left: 84px;
        }

        .userReceivesNameOnWall{
            font-size: 12px;
        }

        .XForProfileIntroFormStyling{
            position: relative;
            top: -38px;
            left: 238px;
        }
} /*The ending of a larger sized computer screen*/

/* The beginning of the size matching my macbook pro (make this your standard next time) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .allUsersLink{
        margin-left: 50px;
    }

    #createAccount{
        position: relative;
        left: 4px;    
    }

    .customizeIntroText{
        top: -42px;
    }

    .decorativeLine{ /* This is the line on the Edit profile details form */
        margin-left: 30px;
        margin-top: -50px;
    }

    .decorativeLineOnLoginForm{
        padding-left: 30px;
    }

    .friendsLinkStyling{
        margin-left: 50px;
    }

    .lastWallColumn{
        position: fixed;
        z-index: 2;
        margin-left: 1050px;
    }

    .middleWallColumn{
        margin-left: 340px;
    } 

    .navBarSecondSection{
        margin-left: -20px;
        padding-left: 140px;
        padding-right: 140px;
    }

    .showAllUsers{
        left: 60px;
    }

    #userMessageID{
        width: 500px;
    }

    #userNameText{
        position: relative;
        left: -8px;
    }

    .XForProfileIntroFormStyling{
        left: 16px;
        margin-top: 40px;
    }
}

/*This is a media only for a tablet sized screen*/
@media only screen and (min-width: 521px) and (max-width: 1023px){
    .allUsersDiv{
        width: 262px;
        height: 220px;
        margin-left: 10px;
    }

    #button{ /* The button holding the save symbol for the profile pic container */
        top: 4px;
        margin-left: 218px;
    }

    .clearImage{ /*For when the image is in the database */
        font-weight: bolder; 
        color: black;
        top: 4px;
        right: 12px;
        font-size: small;
        position: absolute;
        transform: translateX(44%);   
    }
    
    #clearImage{ /*For when the image is only a preview */
        font-weight: bolder; 
        color: black;
        top: 4px;
        right: 12px;
        font-size: small;
        position: absolute;
        transform: translateX(44%);   
    }

    .commentSubDivOnWall{
        position: relative;
        left: -12px;
    }

    .commentTextAreaOnForm{
        width: 280px;
    }

    .commentTextAreaOnFormOnWall{
        width: 280px;
    }

    #createAccount{
        position: relative;
        top: 16px;
        left: -40px;
    }

    .customizeIntroText{
        position: relative;
        top: -6px;
        left: 22px;
        padding-bottom: 6px;
    }

    .decorativeLine{
        display: none;
    }

    .decorativeLineOnLoginForm{
        display: none;
    }

    .decorativeLineOnPageNotFound{
        display: none;
    }

    .deletePostBinButtonOnWall{
        position: relative;
        left: -50px;
        top: -8px;
    }

    .editDetailsButtonStyling{
        margin-left: 18px;
    }

    .editIntroText{
        margin-left: 28px;
        padding-bottom: 4px;
    }

    .emptySpace{  /* <td>s that create space for a bigger sized screen but not needed on the phone size */
        display: none;
    }

    .hideDetailsCheckBox{
        margin-left: 26px;    
    }

    .friendsDiv{
        width: 262px;
        height: 220px;
        margin-left: 10px;
    }

    .introDiv{
        width: 300px;
        background-color: white;
        border-radius: 6px;
    }

    .likeUnlikeCommentButtonStyling{
        margin-left: -20px;
    }

    .likeUnlikeCommentButtonStylingOnWall{
        border: none;
        height: 20px;
        padding-top: 0px;
        margin-top: -30px;
        margin-left: -10px;
    }

    /* .likeNameSectionOnWall{
        top: -30px;
    } */

    .listOfPostedMessages{
        margin-left: -20px;
    }

    .listOfPostedMessagesOnWall{
        margin-left: -22px;
        width: 437px;
        border-radius: 10px;
    }

    #mainSendFriendRequestButton{
        position: relative;
        left: 30px;
    }

    /* .messageTextOnWall{
        top: -20px;
    } */

    .messengerNavIcon{
        top: -49px;
        left: 10px;
        position: relative;
    }

    .moreText{
        display: none;
    }

    .nameInPost{
        font-size: 12px;
    }

    #navIconProfPic{
        margin-left: -130px;
        top: 4px;
        bottom: 10px;
        margin-top: 4px;
    }

    .navName{
        top: -20px;
        left: -100px;
        position: relative;
    }

    .noFriendsText{
        font-size: 16px;
    }

    .notificationsDropDownMenu{
        border-radius: 6px;
        position: absolute;
        margin-left: -30px;
        top: 18px;
        z-index: 998; /* brings it in front of other elements */
    }

    #profilePicContainer{
        margin-left: 54px;
    }

    #profileIntroForm{
        width: 280px;
        height: 440px;
        margin-left: -40px;
    }

    #profileIntroFormDiv{ /*The div that contains the update intro form*/
        top: 10px; /*The lower the number, the higher it rises */
        /* width: 520px;
        height: 440px; */
    }

    #registrationForm{
        position: relative;
        left: -50px;
    }

    .saveCancelButtons{
        position: relative;
        top: 10px;
        margin-left: 20px;
    }

    .searchForm{
        margin-left: -630px;
        margin-bottom: 12px;
    }

    .searchResultsDiv{
        height: 516px;
        overflow-y: scroll;
        overflow-x: hidden; 
        position: fixed;
        left: 300px;
        top: 100px;
    }

    .settingsDropDownMenu{
        border-radius: 6px;
        position: absolute;
        margin-left: 44px;
        top: 18px;
        z-index: 998; /* brings it in front of other elements */
    }

    .showFriends{
        left: -10px;
    }

    .showAllUsers{
        position: relative;
        left: -32px;
    }

    #regForm{ /*The actual form*/
        overflow: scroll;
        overflow-x: hidden; 
    }

    .thumbsDown{
        position: relative;
        left: -70px;
    }

    .triDiv{
        display: none;
        height: 250px; 
        margin-left: 110px;
    }

    #userMessageID{
        width: 250px;
        font-size: smaller;
    }

    #userNameText{
        position: relative;
        left: 2px;
    }

    #userProfileHeaderCancelButton{
        position: relative;
        left: 32px;
        margin-left: 7px;
        top: -72px;
    }

    #userProfileHeaderEditLink{
        margin-left: 120px;
    }

    #userProfileHeaderForm{
        margin-left: 10px;
        padding-left: 20px;
    }

    .userProfileHeaderSaveButton{
        position: relative;
        left: 36px;
        top: -74px;
    }

    #userProfileHeaderText{
        position: relative;
        left: -30px;
    }

    .userReceivesNameOnWall{
        font-size: 12px;
    }

    .weatherNavIcon{
        display: none;
        color: white;
    }

    .XForProfileIntroFormStyling{
        position: relative;
        left: -30px;
    }


}

/*This is a media only for a (large) phone*/
@media only screen and (min-width: 425px) and (max-width: 767px){
    .allUsersDiv{
        width: 262px;
        height: 220px;
        margin-left: 10px;
    }

    #birthdayDayOnRegistrationForm{
        position: relative;
        left: -4px;
        top: 8px;
    }

    #birthdayYearOnRegistrationForm{
        position: relative;
        left: 4px;
        top: 16px;
    }

    #button{ /* The button holding the save symbol for the profile pic container */
        top: -290px;
        /* margin-left: 218px; */
    }

    .carrotSymbol{
        position: relative;
        top: 3px;
    }

    .clearImage{ /*For when the image is in the database */
        font-weight: bolder; 
        color: black;
        top: -280px;
        left: 270px;
        font-size: small;
        position: absolute;
        transform: translateX(44%);   
    }
    
    #clearImage{ /*For when the image is only a preview */
        font-weight: bolder; 
        color: black;
        top: -280px;
        left: 270px;
        font-size: small;
        position: absolute;
        transform: translateX(44%);   
    }

    .commentIconProfPic{
        width: 24px;
        height: 24px;
        border-radius: 60%;
        margin-top: 6px;
    }
    
    .commentSection{
        width: 90%;
        margin-left: -4px;
    }

    .commentSectionDiv{
        position: relative;
        top: -40px;
    }

    /* .commentSectionDivOnWall{
        position: relative;
        top: -60px;
    }

    .commentSubDiv{
        position: relative;
        top: -12px;
    } */

    #confirmPassword{
        position: relative;
        left: 4px;
    }

    #createAccount{
        position: relative;
        left: 14px;
    }

    .customizeIntroText{
        position: relative;
        top: -42px;
        left: 26px;
        padding-bottom: 6px;
    }

    .decorativeLine{
        display: none;
    }

    .decorativeLineOnLoginForm{
        position: relative;
        left: 50px;
        color: #DADDE1;
    }

    .decorativeLineOnRegistrationForm{
        display: none;
    }

    .deleteCommentBinButton{
        margin-top: -90px;
        margin-left: 200px;
    }

    .deleteCommentBinButtonOnWall{
        margin-top: -100px;
        margin-left: 250px;
    }

    .deleteMessage{
        height: 10px;
    }

    .deletePostBinButton{
        margin-top: -88px;
        margin-left: 286px;
    }

    .deletePostBinButtonOnWall{
        position: relative;
        left: 348px;
        top: -60px;
    }

    .editDetailsButtonStyling{
        margin-left: 18px;
    }

    .editIntroText{
        margin-left: 28px;
        padding-bottom: 4px;
    }

    #emailHelp{
        position: relative;
        left: 6px;
    }

    .emptySpace{  /* <td>s that create space for a bigger sized screen but not needed on the phone size */
        display: none;
    }

    .firstWallColumn{
        display: none;
    }

    .friendsDiv{
        width: 262px;
        height: 220px;
        margin-left: 10px;
    }

    .hideDetailsCheckBox{
        margin-left: 44px; 
    }

    #initialPassword{
        position: relative;
        left: 6px;
    }

    .introDiv{
        width: 300px;
        background-color: white;
        border-radius: 6px;
    }

    /* .messageTextOnWall{
        top: -60px;
    } */

    .middleWallColumn{
        overflow-y: scroll; 
        margin-left: 10px;
        overflow-x: hidden;
    } 

    .likeNameSectionOnWall{
        top: -28px;
    }

    .likeUnlikeCommentButtonStyling{
        font-size: 14px;
        margin-left: -48px;
        padding-left: 28px;
        padding-right: 28px;
    }

    .likeUnlikeCommentButtonStylingOnWall{
        margin-top: 30px; 
    }

    .listOfPostedMessages{
        margin-left: -122px;
        width: 400px;
        height: 146.7px;
    }

    #loginForm{
        position: relative;
        top: -40px;
    }

    #mainSendFriendRequestButton{
        position: relative;
        top: -300px;
        left: 230px;
    }

    .messageContentsDivOnWall{
        height: 40px;
        margin-bottom: 4px;
    }

    .messengerNavIcon{
        top: -49px;
        left: 10px;
        position: relative;
    }

    .moreText{
        display: none;
    }

    .nameInPost{
        font-size: 10px;
    }

    #navIconProfPic{
        margin-left: -130px;
        top: 4px;
        bottom: 10px;
        margin-top: 4px;
    }

    .navName{
        top: -20px;
        left: -100px;
        position: relative;
    }

    .noFriendsTextDiv{
        position: relative;
        margin-left: 30px;
        margin-top: -14px;
    }

    .noFriendsText{
        font-size: 16px;
    }

    .notificationsDropDownMenu{
        border-radius: 6px;
        position: absolute;
        margin-left: -30px;
        top: 18px;
        z-index: 998; /* brings it in front of other elements */
    }

    .pageNotFoundStyling{
        text-align: center;
        margin-left: 14px;
        margin-top: -10px;
    }

    .postACommentButton{
        width: 24px;
        height: 21px;
        position: relative;
        top: -2px;
        left: -8px;
    }

    #postAMessageButton{
        width: 48px;
        height: 24px;
        text-indent: -8px;
        padding-top: 0px;
        margin-top: 6px;
    }

    #profileIntroForm{
        width: 280px;
        height: 440px;
        margin-left: -40px;
    }

    #profileIntroFormDiv{ /*The div that contains the update intro form*/
        margin-left: 8%;
        top: 8px; /*The lower the number, the higher it rises */
        width: 360px;
        height: 490px;
    }

    #profilePicContainer{
        margin-left: 130px;
        margin-top: -430px;
    }

    #regForm{ /*The actual form*/
        overflow: scroll;
        overflow-x: hidden; 
        position: relative;
        left: -70px;
        height: 480px;
        width: 300px;
        background-color: white;
        padding-right: 10px;
        border: 4px solid #f1f1f1;
    }
    
    .saveCancelButtons{
        position: relative;
        top: 72px;
    }

    .searchInput{
        margin-left: -146px;
        width: 140px;
        height: 24px;
        margin-top: 3px;
        font-size: 12px;
    }

    .searchResultsDiv{
        display: none;
    }

    .sendIcon{
        position: relative;
        left: -4px;
        top: -6px;
    }

    .settingsDropDownMenu{
        border-radius: 6px;
        position: absolute;
        margin-left: 44px;
        top: 18px;
        z-index: 998; /* brings it in front of other elements */
    }

    .showFriends{
        position: relative;
        left: -70px;
        width: 80px;
    }

    .showAllUsers{
        position: relative;
        /* left: -82px; */
        left: -70px;
        width: 80px;
        top: -18px;
    }

    .stylingOfMessageFormDivs{
        top: -40px;
    }

    #submitProfileIntroButton{
        left: 38px;
    }

    #submitRegistrationFormButton{
        position: relative;
        left: -18px;
        top: 10px;
    }

    .thumbsDown{
        position: relative;
        left: 70px;
        top: -20px;
    }

    .triDiv{
        display: none;
        height: 250px; 
        margin-left: -52px;
    }

    #userBirthdayMonthID{
        position: relative;
        left: 4px;
    }

    #userCommentID{
        width: 220px;
        height: 20px;
        top: 1px;
    }

    #userDormBuildingID{
        width: 134px;
        height: 28px;
    }

    #userHighSchoolID{
        width: 134px;
        height: 28px;
    }

    #userHomeTownID{
        width: 134px;
        height: 28px;
    }

    #userMessageID{
        width: 234px;
        height: 34px;
        font-size: small;
        margin-left: -8px;
        margin-top: 2px;
    }

    #userLastNameID{
        position: relative;
        left: -16px;
    }

    #userNameText{
        position: relative;
        margin-top: -300px;
        right: 8px;
    }

    #userProfileHeaderCancelButton{
        position: relative;
        left: 44px;
        margin-left: 10px;
        top: -74px;
    }

    #userProfileHeaderEditLink{
        margin-left: 200px;
    }

    #userProfileHeaderForm{
        margin-left: 10px;
        padding-left: 20px;
    }

    .userProfileHeaderSaveButton{
        position: relative;
        left: 54px;
        top: -74px;
    }

    #userProfileHeaderText{
        position: relative;
        left: 50px;
    }
    
    #userProfileHeaderTextArea{
        resize: none;
        width: 320px;
        height: 70px;
    }

    .userReceivesNameOnWall{
        margin-top: 2px;
    }

    #userRegistrationEmail{
        position: relative;
        left: 8px;
    }

    #userUniversityID{
        width: 134px;
        height: 28px;
        margin-top: 4px;
    }

    .XForProfileIntroFormStyling{
        position: relative;
        left: 300px;
        top: -40px;
    }

    #XForRegistrationForm{
        position: relative;
        left: 40px;
        top: -40px;
    }

} 

/*This is a media only for a (medium-sized) phone*/
@media only screen and (min-width: 375px) and (max-width: 424px){
    .allUsersDiv{
        width: 262px;
        height: 220px;
        margin-left: 10px;
    }

    #birthdayDayOnRegistrationForm{
        position: relative;
        left: -4px;
        top: 8px;
    }

    #birthdayYearOnRegistrationForm{
        position: relative;
        left: 4px;
        top: 16px;
    }

    #button{ /* The button holding the save symbol for the profile pic container */
        top: -290px;
        /* margin-left: 218px; */
    }

    .carrotSymbol{
        position: relative;
        top: 3px;
    }

    .clearImage{ /*For when the image is in the database */
        font-weight: bolder; 
        color: black;
        top: -280px;
        left: 250px;
        font-size: small;
        position: absolute;
        transform: translateX(44%);   
    }
    
    #clearImage{ /*For when the image is only a preview */
        font-weight: bolder; 
        color: black;
        top: -280px;
        left: 250px;
        font-size: small;
        position: absolute;
        transform: translateX(44%);   
    }

    .commentIconProfPic{
        width: 24px;
        height: 24px;
        border-radius: 60%;
        margin-top: 6px;
    }
    
    .commentSection{
        width: 90%;
        margin-left: -4px;
    }

    #confirmPassword{
        position: relative;
        left: 4px;
    }

    #createAccount{
        position: relative;
        left: -4px;
    }

    .customizeIntroText{
        position: relative;
        top: -40px;
        left: 26px;
        padding-bottom: 6px;
    }

    .decorativeLine{
        display: none;
    }

    .decorativeLineOnLoginForm{
        position: relative;
        left: 20px;
        color: #DADDE1;
    }

    .decorativeLineOnRegistrationForm{
        display: none;
    }

    .deleteCommentBinButtonOnWall{
        margin-top: -90px;
        margin-left: 200px;
    }

    .deleteMessage{
        height: 8px;
    }

    .deletePostBinButton{
        margin-top: -88px;
        margin-left: 286px;
    }

    .deletePostBinButtonOnWall{
        position: relative;
        top: -50px;
        left: 314px;
    }

    .editDetailsButtonStyling{
        margin-left: 18px;
    }

    .editIntroText{
        margin-left: 28px;
        padding-bottom: 4px;
    }

    #emailHelp{
        position: relative;
        left: 6px;
    }

    .emptySpace{  /* <td>s that create space for a bigger sized screen but not needed on the phone size */
        display: none;
    }

    .firstWallColumn{
        display: none;
    }

    .friendsDiv{
        width: 262px;
        height: 220px;
        margin-left: 10px;
    }

    .hideDetailsCheckBox{
        margin-left: 26px;    
    }

    #initialPassword{
        position: relative;
        left: 6px;
    }

    .introDiv{
        width: 300px;
        background-color: white;
        border-radius: 6px;
    }
    
    /* .likeNameSectionOnWall{
        top: -50px;
    } */

    .likeUnlikeCommentButtonStyling{
        font-size: 14px;
        margin-left: -48px;
        padding-left: 28px;
        padding-right: 28px;
    }

    .likeUnlikeCommentButtonStylingOnWall{
        margin-left: -20px;
    }

    .listOfPostedMessages{
        margin-left: -154px;
        width: 410px;
        height: 146.7px;
    }

    #loginForm{
        position: relative;
        top: -36px;
    }

    #mainSendFriendRequestButton{
        position: relative;
        top: -50px;
        left: 180px;
    }

    .messageContentsDivOnWall{
        font-size: 78%;
    }

    .messengerNavIcon{
        top: -49px;
        left: 10px;
        position: relative;
    }

    /* .messageTextOnWall{
        top: -60px;
    } */

    .middleWallColumn{
        overflow-y: scroll; 
        z-index: 2;
        margin-left: 2px;
    } 

    .moreText{
        display: none;
    }

    .nameInPost{
        font-size: 10px;
    }

    #navIconProfPic{
        margin-left: -130px;
        top: 4px;
        bottom: 10px;
        margin-top: 4px;
    }

    .navName{
        top: -20px;
        left: -100px;
        position: relative;
    }

    .noFriendsTextDiv{
        position: relative;
        margin-left: 20px;
        margin-top: -14px;
    }

    .noFriendsText{
        font-size: 16px;
    }

    .notificationsDropDownMenu{
        border-radius: 6px;
        position: absolute;
        margin-left: -30px;
        top: 18px;
        z-index: 998; /* brings it in front of other elements */
    }

    .pageNotFoundStyling{
        text-align: center;
        margin-left: 14px;
        margin-top: -6px;
    }

    .postACommentButton{
        width: 24px;
        height: 21px;
        position: relative;
        top: -2px;
        left: -8px;
    }

    #postAMessageButton{
        width: 48px;
        height: 24px;
        text-indent: -8px;
        padding-top: 0px;
        margin-top: 6px;
    }

    #profileIntroForm{
        width: 280px;
        height: 440px;
        margin-left: -40px;
    }

    #profileIntroFormDiv{ /*The div that contains the update intro form*/
        margin-left: 8%;
        top: 8px; /*The lower the number, the higher it rises */
        width: 320px;
        height: 490px;
    }

    #profilePicContainer{
        margin-left: 100px;
        margin-top: -430px;
    }

    #regForm{ /*The actual form*/
        overflow: scroll;
        overflow-x: hidden; 
        position: relative;
        top: 10px;
        left: -84px;
        height: 480px;
        width: 300px;
        background-color: white;
        padding-right: 10px;
        border: 4px solid #f1f1f1;
    }

    .saveCancelButtons{
        position: relative;
        top: 72px;
    }

    .searchInput{
        margin-left: -120px;
        width: 110px;
        height: 24px;
        margin-top: 3px;
        font-size: 8px;
    }

    .sendIcon{
        position: relative;
        left: -4px;
        top: -6px;
    }

    .settingsDropDownMenu{
        border-radius: 6px;
        position: absolute;
        margin-left: 44px;
        top: 18px;
        z-index: 998; /* brings it in front of other elements */
    }

    .showFriends{
        position: relative;
        left: 10px;
        width: 80px;
    }

    .showAllUsers{
        position: relative;
        /* left: -106px; */
        left: 10px;
        top: -18px;
        width: 80px;
    }

    #signUp{
        position: relative;
        top: -40px;
    }

    #submitRegistrationFormButton{
        position: relative;
        left: -18px;
        top: 10px;
    }

    .thumbsDown{
        position: relative;
        left: 44px;
        top: -20px;
    }

    .triDiv{
        display: none;
        height: 250px; 
        margin-left: -80px;
    }

    #userBirthdayMonthID{
        position: relative;
        left: 4px;
    }

    #userCommentID{
        width: 240px;
        height: 20px;
        top: 1px;
    }
    
    #userDormBuildingID{
        width: 134px;
        height: 28px;
    }
    
    #userHighSchoolID{
        width: 134px;
        height: 28px;
    }

    #userHomeTownID{
        width: 134px;
        height: 28px;
    }
    
    #userLastNameID{
        position: relative;
        left: -16px;
    }

    #userMessageID{
        width: 234px;
        height: 34px;
        font-size: small;
        margin-left: -8px;
        margin-top: 2px;
    }

    #userNameText{
        position: relative;
        margin-top: -300px;
        right: 14px;
    }

    #userProfileHeaderCancelButton{
        position: relative;
        left: 4px;
        margin-left: 10px;
        top: -74px;
    }

    #userProfileHeaderEditLink{
        margin-left: 170px;
    }

    #userProfileHeaderForm{
        margin-left: 10px;
        padding-left: 20px;
    }

    .userProfileHeaderSaveButton{
        position: relative;
        left: 16px;
        top: -74px;
    }

    #userProfileHeaderText{
        position: relative;
        left: 18px;
    }
    
    #userProfileHeaderTextArea{
        resize: none;
        width: 280px;
        height: 70px;
    }
    
    .userReceivesNameOnWall{
        position: relative;
        top: 14px;
    }

    #userRegistrationEmail{
        position: relative;
        left: 8px;
    }

    #userUniversityID{
        width: 134px;
        height: 28px;
        margin-top: 4px;
    }

    .XForProfileIntroFormStyling{
        position: relative;
        left: 260px;
        top: -40px;
    }

    #XForRegistrationForm{
        position: relative;
        left: 40px;
        top: -40px;
    }

} 

/*This is a media only for a (small-sized) phone*/
@media only screen and (min-width: 320px) and (max-width: 374px){
    .allUsersDiv{
        width: 262px;
        height: 220px;
        position: relative;
        left: -100px;
    }

    #birthdayDayOnRegistrationForm{
        position: relative;
        left: -4px;
        top: 8px;
    }

    #birthdayYearOnRegistrationForm{
        position: relative;
        left: 4px;
        top: 16px;
    }

    #button{ /* The button holding the save symbol for the profile pic container */
        top: -290px;
        /* margin-left: 218px; */
    }

    .carrotSymbol{
        position: relative;
        top: 4px;
        left: -3px;
    }

    .clearImage{ /*For when the image is in the database */
        font-weight: bolder; 
        color: black;
        top: -280px;
        left: 220px;
        font-size: small;
        position: absolute;
        transform: translateX(44%);   
    }
    
    #clearImage{ /*For when the image is only a preview */
        font-weight: bolder; 
        color: black;
        top: -280px;
        left: 220px;
        font-size: small;
        position: absolute;
        transform: translateX(44%);   
    }

    .commentIconProfPic{
        width: 24px;
        height: 24px;
        border-radius: 60%;
        margin-top: 6px;
    }
    
    .commentSection{
        width: 90%;
        margin-left: -8px;
    }

    #confirmPassword{
        position: relative;
        left: 4px;
    }

    #createAccount{
        position: relative;
        left: -30px;    
    }

    .customizeIntroText{
        position: relative;
        top: -40px;
        left: 22px;
    }

    .decorativeLine{
        display: none;
    }

    .decorativeLineOnLoginForm{
        color: #DADDE1;
    }

    .decorativeLineOnRegistrationForm{
        display: none;
    }

    .deleteCommentBinButton{
        margin-top: -90px;
        margin-left: 180px;
    }

    .deleteCommentBinButtonOnWall{
        margin-top: -90px;
        margin-left: 180px;
    }

    .deleteMessage{
        height: 5px;
    }

    .deletePostBinButton{
        margin-top: -88px;
        margin-left: 250px;
    }

    .deletePostBinButtonOnWall{
        position: relative;
        left: 264px;
        top: -82px;
    }

    .editDetailsButtonStyling{
        margin-left: 18px;
    }

    .editIntroText{
        margin-left: 28px;
        padding-bottom: 4px;
    }

    .emptySpace{  /* <td>s that create space for a bigger sized screen but not needed on the phone size */
        display: none;
    }

    .firstWallColumn{
        display: none;
    }

    .friendsDiv{
        width: 262px;
        height: 220px;
        position: relative;
        left: -100px;
    }

    .hideDetailsCheckBox{
        margin-left: 26px;    
    }

    #initialPassword{
        position: relative;
        left: 6px;
    }

    .introDiv{
        width: 300px;
        background-color: white;
        border-radius: 6px;
        position: relative;
        left: -122px;
    }

    .likeNameSectionOnWall{
        /* top: -70px; */
        /* left: -22px; */
        font-size: 11px;
    }

    .likeUnlikeCommentButtonStyling{
        font-size: 14px;
        margin-left: -62px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .likeUnlikeCommentButtonStylingOnWall{
        position: relative;
        padding-top: 6px;
        margin-top: -30px;
        font-size: 7px;
        left: -60px;
    }

    .listOfPostedMessages{
        margin-left: -154px;
        width: 360px;
    }

    #logoIcon{
        margin-top: 30px;
    }

    #loginForm{
        position: relative;
        top: -36px;
    }

    #mainSendFriendRequestButton{
        position: relative;
        top: -90px;
        left: 130px;
    }

    .messageContentsDivOnWall{
        font-size: 92%;
    }

    .messageTextOnWall{
        /* top: -60px; */
        font-size: 12px;
    }

    .middleWallColumn{
        margin-left: 2px;
    } 

    .messengerNavIcon{
        top: -49px;
        left: 10px;
        position: relative;
    }

    .moreText{
        display: none;
    }

    .nameInPost{
        font-size: 10px;
    }

    #navIconProfPic{
        margin-left: -130px;
        top: 4px;
        bottom: 10px;
        margin-top: 4px;
    }

    .navName{
        top: -20px;
        left: -100px;
        position: relative;
    }

    .noFriendsText{
        font-size: 16px;
    }

    .notificationsDropDownMenu{
        border-radius: 6px;
        position: absolute;
        margin-left: -30px;
        top: 18px;
        z-index: 998; /* brings it in front of other elements */
    }

    .postACommentButton{
        width: 24px;
        height: 21px;
        position: relative;
        top: -2px;
        left: -8px;
    }

    .sendIcon{
        position: relative;
        left: -4px;
        top: -6px;
    }

    #postAMessageButton{
        width: 48px;
        height: 24px;
        text-indent: -8px;
        padding-top: 0px;
        margin-top: -2px;
        margin-left: 220px;
    }

    #profileIntroForm{
        width: 280px;
        height: 440px;
        margin-left: -40px;
    }

    #profileIntroFormDiv{ /*The div that contains the update intro form*/
        margin-left: 6%;
        top: 8px; /*The lower the number, the higher it rises */
        width: 280px;
        height: 490px;
    }

    #profilePicContainer{
        margin-left: 70px;
        margin-top: -430px;
    }

    #regForm{ /*The actual form*/
        overflow: scroll;
        overflow-x: hidden; 
        position: relative;
        top: 20px;
        left: -90px;
        height: 480px;
        width: 300px;
        background-color: white;
        padding-right: 10px;
        border: 4px solid #f1f1f1;
    }

    .saveCancelButtons{
        position: relative;
        top: 72px;
    }

    .searchInput{
        margin-left: -90px;
        width: 140px;
        height: 24px;
        margin-top: 18px;
        font-size: 12px;
    }

    .settingsDropDownMenu{
        border-radius: 6px;
        position: absolute;
        margin-left: 44px;
        top: 18px;
        z-index: 998; /* brings it in front of other elements */
    }

    .showFriends{
        position: relative;
        left: 10px;
        width: 80px;
    }

    .showAllUsers{
        position: relative;
        /* left: -132px; */
        left: -40px;
        top: -18px;
    }

    #signUp{
        position: relative;
        top: -40px;
    }

    #submitProfileIntroButton{
        width: 260px;
        left: 6px;
    }

    #submitRegistrationFormButton{
        position: relative;
        left: -18px;
        top: 10px;
    }

    .thumbsDown{
        position: relative;
        left: 20px;
        top: -20px;
    }

    .triDiv{
        display: none;
        height: 250px; 
    }

    #userCommentID{
        width: 196px;
        height: 20px;
        top: 1px;
    }
    
    #userDormBuildingID{
        width: 128px;
        height: 28px;
        left: -2px;
    }
    
    #userHighSchoolID{
        width: 128px;
        height: 28px;
        left: -2px;
    }

    #userHomeTownID{
        width: 128px;
        height: 28px;
        left: 4px;
    }

    #userLastNameID{
        position: relative;
        left: -16px;
    }

    #userMessageID{
        width: 234px;
        height: 34px;
        font-size: small;
        margin-left: -8px;
        margin-top: 2px;
    }

    #userBirthdayMonthID{
        position: relative;
        left: 4px;
    }

    #userNameText{
        position: relative;
        margin-top: -300px;
        right: 16px;
    }

    #userProfileHeaderCancelButton{
        position: relative;
        left: -18px;
        margin-left: 10px;
        top: -109px;
    }

    #userProfileHeaderEditLink{
        margin-left: 140px;
    }

    #userProfileHeaderForm{
        margin-left: 10px;
        padding-left: 20px;
    }

    .userProfileHeaderSaveButton{
        position: relative;
        left: -64px;
        top: -74px;
    }

    #userProfileHeaderText{
        position: relative;
        left: -12px;
    }
    
    #userProfileHeaderTextArea{
        resize: none;
        width: 200px;
        height: 40px;
    }

    .userReceivesNameOnWall{
        /* margin-top: 2px; */
        font-size: 10px;
    }

    #userRegistrationEmail{
        position: relative;
        left: 8px;
    }

    #userUniversityID{
        width: 128px;
        height: 28px;
        left: -2px;
        top: -2px;
    }

    .XForProfileIntroFormStyling{
        position: relative;
        left: 230px;
        top: -48px;
    }

    #XForRegistrationForm{
        position: relative;
        left: 40px;
        top: -40px;
    }

} 