*{
    vertical-align: top;
}

/* a {
    text-decoration:none;
} */

.addFriendText{ /* the text on the add friend button on the show all users html */
    text-indent: 16px;
}

.allUsersDiv{
    /* display: table;     */
    /* width: 254px; */
    height: 200px;
    border-radius: 10px;
    overflow-y: scroll;
}

.allUsersLink{
    font-size: small; 
}

/* .bi-circle-fill{
    margin-left: 4px;
} */

.bi-chat-dots-fill{ /* The message symbol inside the button for each individual friend */
    margin-left: -2px;
    margin-top: -3px;
}

#birthdayInfoBox{
    border: 1px solid #f1f1f1;
    /* position: fixed; */
    margin-left: 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

#birthdayLabel{
    display: inline-block
}

#button{  /*The button holding the save symbol */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 100px;
    position: absolute;
    transform: translateX(-90%);
}

.buttonOfNavIcons{
    border-color: transparent;
    /* margin-top: 8px; */
}

.clearImage{ /*For when the image is in the database */
    font-weight: bolder; 
    color: black;
    top: 4px;
    right: 140px;
    font-size: small;
    position: absolute;
    transform: translateX(40%);   
    /* background-color: grey; */
}

#clearImage{ /*For when the image is only a preview */
    font-weight: bolder; 
    color: black;
    top: 4px;
    right: 140px;
    font-size: small;
    position: absolute;
    transform: translateX(40%);   
    /* background-color: grey; */
}

.clearNotification{
    /* top: 20px; */
    /* right: 50px; */
    background-color: yellow;
}

#closeBirthdayInfoBoxButton{
    margin-left: 20%;
    /* background-color: pink; */
}

.confirmCancelNotificationButton{
    width: 90px;
    height: 30px;
}

.commentIconProfPic{
    width: 30px;
    height: 30px;
    border-radius: 60%;
    margin-top: 6px;

}
.commentHeadText{
    /* margin-top: 4px; */
    margin-left: 10px;
    margin-top: 2px;
    padding-bottom: 2px;
    text-align: left;  
    font-weight: lighter;
}

/* .commentSectionDiv{
    width: 500px;
    height: 40px;
} */

/* .commentSection{
    width: 230px;
    height: 40px;
} */

.commentSubText{
    text-align: left;   
    font-weight: normal;
    margin-left: 10px;
}

.commentTextAreaOnForm{
    resize: none;
    /* width: 800px; */
}

.connectLine{
    margin-top: -1px;
}

.decoratedErrorField{
    border:1px solid red;
}

.decorativeLine{
    color: #DADDE1;
}

.detailsStylingForEachFriend{ /* This is when a user search cannot be found and the friend list shows. Styling for the first and last name */
    margin-top: -20px;
    font-size: small;
}

.displayCommentErrors{
    margin-left: 40px;
    margin-bottom: 0px;
}

.dropdown-item{
    border-radius: 6px;
    max-width: 100%;
    white-space: pre-line;
}

.dropdown-menu{
    left: -70px;
    border-radius: 6px;
}

#errorDialogForFileSize{ /*The div containing the message of the error dialog box for an uploaded image*/
    display: none;
} 

#errorDialogForFileType{ /*The div containing the message of the error dialog box for an uploaded image*/
    display: none;
} 

.friendsIconName{
    font-size: 12px;
    /* text-align: left; */
}

.friendsIconNameWithBlankAvatar{
    font-size: 12px;
    text-align: center;
}

.friendsIconProfPic{
    width: 44px;
    height: 44px;
    border-radius: 30%;
    /* margin-top: 6px; */
    /* margin: 20px, 20px, 20px, 20px; */
    position: relative;
}

.friendsDiv{
    /* display: table;     */
    /* width: 2px; */
    height: 200px;
    border-radius: 10px;
    overflow-y: scroll;
    /* 194.250 x 389 */
}

.friendsLink{
    font-size: small; 
}

.hide {
    display: none;
}

.triDiv{ /* The div that contains the three divs(intro div, all users div, and friends div) on the left side of the html*/
    /* display: table;     */
    /* width: 254px; */
    height: 260px;
    border-radius: 10px;
}

.likeUnlikeCommentButtonStyling{
    /* width: 120px; */
    /* height: 20px; */
    border: none;
}

.listOfPostedMessages{
    border-radius: 10px;
}

#logoIcon{
    width: 30px;
    height: 30px;
    border-radius: 60%;
}

.messageContentsDiv{
    height: 48px;
    margin-bottom: -2px;
}

.messageFriendButton{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.notificationMenu{
    left: -160px;
    border-radius: 6px;
    height: 528px;
    width: 320px;
    overflow-y: scroll;
    overflow-x: hidden; 
}

.notificationNumber{
    border-radius: 50%;
    border: red;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 11px;
    font-size: 14px;
}

#pendingFriendRequestButton{ /*The styling of the button on the home page*/
font-size: 8px;
text-align: center;
}

.removeFriendRequestButton{
    font-size: 8px;
    text-align: center;
}

small.messageCreatedAtWithThumbnail{
    position: relative;
    top: -18px; 
    left: 22px;
}

small.messageCreatedAt{
    position: relative;
    top: -4px; 
    left: 8px;
}

.messageText{
    top: 8px;
    font-size: 16px;
}

.nameInNotification{
    font-weight: bold;
    max-width: 100%;
    color: black;
}

.nameStylingForEachFriend{
    margin-top: -50px;
    color: black;
    font-weight: bold;
}

#navBar{ /* Manages the length of the navigation bar */
    height: 58px;
}

#navIconProfPic{
    width: 40px;
    height: 40px;
    border-radius: 60%;
    margin-top: 6px;
}

/* .thumbnail{ TRY TO CHANGE THIS INSTEAD OF NAVICONPROF PIC LATER FOR BETTER CODING DICTION BUT NOT CRAZY IMPORTANT SAME 
    width: 30px;
    height: 30px;
    border-radius: 60%;
    margin-top: 6px;
} */

.noDormBuilding{
    display: none;
}

.pageNotFoundDiv{
    height: 514px;
}

.pageNotFoundStyling{
    text-align: center;
    margin-left: 30px;
}

/* .postACommentButton{ */
    /* border: none; */
/* } */

#postACommentForm{
    top: -10px;
}

#postAMessageButton{
    margin-top: 2px;
}

#postAMessageForm{
    border-radius: 10px;
    /* width: 620px; */
    /* height: 80px; */
}

.profilePicBanner{
    background-color: white;
    height: 300px;
    border-radius: 10px;
}

#profilePicContainer{
    height: 160px;
    width: 160px;
    border: 3px dashed darkgray;
    background-color: #fafafa;
    font-family: "Calibri";
    font-size: 9px;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    color: darkgrey;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 92px;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
}

#profilePicContainer.dragging {
    border-color: green;
    border-width: 10px;
    opacity: .3;
}

#profilePicForm{
    height: 160px;    
}

.profilePicBannerLinks{
    color: darkgrey;
    border-color: transparent;
    font-size: 16px;
    font-style: oblique;
    /* font-weight: bold; */
}

#profileIntroFormDiv{ /*The div that contains the update intro form*/
    background-color: white;
    position: absolute;
    margin-left: 34%;
    /* margin-top: 20px; */
    top: 110px; /*The lower the number, the higher it rises */
    border: 4px solid #f1f1f1;
    height: 460px;
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background: #CCCCCC;
    opacity: .9;
    z-index: 998;
    height: 100%;
    width: 100%; 
}

#questionMark{
    display: inline-block;
    background-color: #616870;
    border-radius: 50%;
    color: white;
    
}

#regForm{ /*The actual form*/
    /* overflow: scroll; */
    height: 500px;
    width: 400px;
    background-color: white;
    padding-right: 10px;
}

#registrationForm{ /*The div that contains the registration form*/
    background-color: white;
    position: fixed;
    margin-left: 30%;
    top: 23px; /*The lower the number, the higher it rises*/
    border: 4px solid #f1f1f1;
    height: 550px;
    width: 500px;
}

.save{
    /* display: inline-block; */
    height: 18px;
    width: 18px;
    transform: translateX(-12%);
}

#searchBarForm{
    height: 38px;
    width: 180px;
}

.showTableStyling{
    left: 40px;
}

.table{ /*Style of the table when it displays all the users or the friends*/
    border-radius: 10px;
}

/* .test{
    background-color: red;
} */

.testing{
    background-color: blue;
}

.searchResultsDiv{
    height: 516px;
    overflow-y: scroll;
    overflow-x: hidden; 
    position: fixed;
    left: 440px;
}

.showFriends{
    display: none;
}

.showAllUsers{
    display: none;
}

.specificIntroDetail{
    font-weight: bold;
}

.specificNotification{
    margin-top: -80px;
}

#submitProfileIntroButton{
    left: 12px;
}

.thumbnailForEachFriend{
        width: 60px;
        height: 60px;
        border-radius: 60%;
        margin-top: 6px;
}

.ui-dialog .ui-dialog-buttonpane button{ /*The css for the okay button on the error dialog box for uploading an image*/
    background-color: blue;
    color: white;
    border-color: white;
    border-width: 1px;
}

.ui-button .ui-icon{ /*The css for the X on the error dialog box for uploading an image*/
    background-image: url(../CSS/redIcons.png);
}

/* .ui-dialog .ui-dialog-buttonpane{ */ /*The css for the bottom section on the error dialog box for uploading an image*/
    /* background-color: #EEEEEE; */
/* } */

.ui-dialog .ui-dialog-titlebar{ /*The css for the top section on the error dialog box for uploading an image*/
    background-color: blue;
    color: white;
}

.ui-dialog .ui-dialog-titlebar-close { /*The css for the close button on the error dialog box for uploading an image*/
    /* background-color: red; */
    border-color: white;
    border-width: 1px;
}

.ui-icon.ui-icon-alert{ /*The css for the error icon on the error dialog box for uploading an image*/
    float:left; 
    margin:0 7px 20px 0;
    /* background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_ff0000_256x240.png
    ); */ /*another way to change the color of the icon above w this link but better to save the file locally*/
    background-image: url(../CSS/redIcons.png);
}

.ui-widget.ui-widget-content{  /*The div of the entire error dialog box for an uploaded image */
    left: 480px; 
    top: 80px; 
    text-align: left;
    vertical-align: top; 
}

.uploadedPhotoProperties {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 110%;
    transform: translateX(-50%);
}

#userDormBuildingID{
    left: 3px;
}

#userHomeTownID{
    left: 12px;
}

#userMessageID{
    resize: none;
    width: 360px;
    background-color: #F0F2F5;
    border-color: #F0F2F5;
}

#userNameText{
    text-align: center;
}

#userProfileHeaderButtons{
    margin-left: 184px;
    margin-top: 8px;
}

#userProfileHeaderEditLink{
    margin-left: 160px;
}

#userProfileHeaderForm{
    display: none;
}

#userProfileHeaderText{
    width: 250px;
    text-align: center;
    margin-left: 50px;
}

#userProfileHeaderTextArea{
    resize: none;
}

#userUniversityID{
    bottom: 8px;
}

#XForRegistrationForm{
    margin-left: 80%;
    cursor: pointer;
}
