<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>CollegeBook</title>
    {% load static %}	<!-- Need this line to use static images -->
    <link rel="stylesheet" href="{% static 'css/collegeWall.css' %}">  <!-- Need this line to use external stylesheet -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>

    <script>

        $(document).ready(function() { 

            var profilePicForm = document.querySelector('#profilePicForm'); //The id for the profile photo form
            var profilePicInputID = document.querySelector('#profilePicInputID'); //The id for the field/input of the profile photo that is within the form
            var profilePicContainer = document.querySelector('#profilePicContainer'); //the id for the label within the form that is posing as a container for the input field 
            var profilePicErrorMessage = document.querySelector('#profilePicErrorMessage');
            var profilePicSuccessMessage = document.querySelector('#profilePicErrorMessage');
            var theClearImageLink = document.querySelector('#clearImage');
            var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value'); //this defines the token form the form so it can be used in the jquery/ajax code below


            var submittedPhoto = "";

            [ 
                'drag', 
                'dragstart', 
                'dragend', //related to the hovering of the file/image being hovered outside of the profile pic container
                'dragover', //related to the hovering of the file/image being hovered over the profile pic container
                'dragenter', //related to the hovering of the file/image being hovered over the profile pic container
                'dragleave', //related to the hovering of the file/image being hovered outside of the profile pic container
                'drop' //related to the hovering of the file/image being dropped inside the profile pic container
            ].forEach(function (dragEvent) {
                profilePicContainer.addEventListener(dragEvent, preventDragDefault); //this prevents the default actions of those above (which is load the file as a static file in the window) when the user drags a file onto a browser by adding an event listener
            });

            ['dragover', 'dragenter'].forEach(function(dragEvent) {
                profilePicContainer.addEventListener(dragEvent, function () { //tracking the movement of the mouse/keypad
                    profilePicContainer.classList.add('dragging');
                    console.log("This console log appears if the current user is dragging a file/photo over the profile photo container.")
                })
            });

            ['dragleave', 'dragend', 'drop'].forEach(function(dragEvent) {
                profilePicContainer.addEventListener(dragEvent, function () { //tracking the movement of the mouse/keypad
                    profilePicContainer.classList.remove('dragging');
                    console.log("This console log appears if the current user is dragging a file/photo outside of the profile photo container.")
                })
            });

            profilePicContainer.addEventListener('drop', function (e) {
                console.log("This console log appears if the current user has dropped a file/photo inside of the profile photo container.")
                if(e.dataTransfer.files.length > 1) { //This prevents the logged in user from selecting more than one photo at a time
                    profilePicErrorMessage.innerHTML = "Must Select One Photo";
                    profilePicErrorMessage.classList.remove('hide');
                    return false;
                }
                var usersSelectedPhoto = e.dataTransfer.files[0]; //The event.target.files property provides the list of files the user has selected, so in this instance an image file.
                profilePicInputID.files[0] = usersSelectedPhoto;

                if(checkImageProperties(usersSelectedPhoto)) { //This runs the function checkImageProperties when a user drops an image file in the profile pic container
                    processingUploadedPhoto(usersSelectedPhoto); 
                }
                theImageTag.classList.add('theImageTagProperties'); //Adds CSS to make the picture fit in the profile pic container .

            })

            profilePicInputID.onchange = function (e) { // when a user clicks the profile pic container versus dropping an image
                var usersSelectedPhoto = e.target.files[0];

                if(checkImageProperties(usersSelectedPhoto)) { //This runs the function checkImageProperties when a user clicks the profile pic container
                    processingUploadedPhoto(usersSelectedPhoto); 
                }

                theImageTag.classList.add('theImageTagProperties'); //Adds CSS to make the picture fit in the profile pic container .


            }

            function checkImageProperties(usersSelectedPhoto) {
                profilePicErrorMessage.classList.add('hide');
                profilePicSuccessMessage.classList.add('hide');

                if (usersSelectedPhoto.type !== "image/png" && usersSelectedPhoto.type !== "image/jpeg") {
                    console.log('File type mismatch');
                    profilePicErrorMessage.innerHTML = "File type should be png or jpg/jpeg...";
                    profilePicErrorMessage.classList.remove('hide');
                    return false;
                }

                if (usersSelectedPhoto.size > 500000) { //This restrict the image from being greater than 500 kb
                    console.log('File too large');
                    profilePicErrorMessage.innerHTML = "File too large, cannot be more than 500KB...";
                    profilePicErrorMessage.classList.remove('hide');
                    return false;
                }

                return true;
            }

            profilePicForm.onsubmit = function (e) {
                e.preventDefault(); //prevents the default browser behavior of the form submitting normally
                var theImageTag = document.querySelector('#theImageTag');
                jQuery.ajax({
                    method: 'POST',
                    url: '/processProfilePic',
                    headers:{"X-CSRFToken": $crf_token}, //this relates to the variabe defined above/CSRF token in the form. Needed to process to backend
                    data: {
                        theFile: theImageTag.getAttribute('src'),
                        // window.onload = function () { 
                        //         theImageTag.getAttribute('src'),
                        //     },
                        name: fileName
                    }
                })
                .done(function (resp) {
                    if(resp === "UPLOADED") {
                        profilePicSuccessMessage.innerHTML = "Image uploaded successfully";
                        profilePicSuccessMessage.classList.remove('hide');
                    }
                })
            }

            theClearImageLink.onclick = clearImage;

            function preventDragDefault(e) {
                e.preventDefault();
                e.stopPropagation();
            }

            function processingUploadedPhoto(file) {
                fileName = file.name;
                clearImage();
                var img = document.createElement("img");
                img.setAttribute('id', 'theImageTag');
                img.file = file;
                profilePicContainer.appendChild(img);
                
                var reader = new FileReader();
                reader.onload = (function(aImg) { return function(e) { aImg.src = e.target.result; }; })(img);
                reader.readAsDataURL(file);
            }

            function clearImage(e) {
                if(e) {
                    e.preventDefault();
                }

                var theImageTag = document.querySelector('#theImageTag');

                if(theImageTag) {
                    profilePicContainer.removeChild(theImageTag);
                    profilePicInputID.value = null;
                }

                profilePicErrorMessage.classList.add('hide');
                profilePicSuccessMessage.classList.add('hide');
            }

        });
    
    </script>

</head>

<body class="bg-light">
    <a class="navbar-brand ml-2" href="/wall">College Book</a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light float-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link float-right" href="/wall">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item float-right"><a class="nav-link" href="/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h4 class="ml-5">Hello, {{loggedInUser.firstName}}! </h4>
        <!-- <div class="profilePhotoWrapper">
            <img src='{{ MEDIA_URL }}{{ loggedInUser.profilePhoto }}' class="avatar"> 
        </div> -->
        <div>
            <!-- <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
                <label>
                    <!- <input type="file">   -->
                    <!-- This hides the basic format "Choose file input and allows the camera photo to represent this instead" -->
                    <!-- <img class="cameraPhoto" src="{% static 'Images/Camera.png' %}" alt="A black and white symbol of a camera." /> -->
                    <!-- <input type="file" style="display: none;"> -->
                </label>
                <!-- <input type="submit" class="form-control d-inline col-sm-1 btn-info btn-sm mt-1" value="Upload"/> -->
            <!-- </form> --> 
            <form enctype="multipart/form-data" method="POST" action="" id="profilePicForm">
            {% csrf_token %}
                <label for="profilePicInputID" id="profilePicContainer"> <!-- Important to use "label for" attribute to get the feature of clicking on the circle to bring up the file explorer. ID needs to match the ID of the input below  -->
                    <input type="file" id="profilePicInputID" accept="image/png, image/jpeg" style="display: none;"> <!-- The style hides the basic format "Choose file input and allows the circular border to represent the "file selector" instead" -->
                    Click here to upload or <b>drag-and-drop</b> <br> an image...</br>
                </label>
                <p id="profilePicErrorMessage" class="hide"></p>
                <p id="profilePicSuccessMessage" class="hide"></p>
                <button class="btn btn-lg btn-primary" type="submit">Upload</button>
                <a href="" id="clearImage">Clear</a>
            </form>
        </div>
        <small class="ml-5 d-block"> 1. Click the camera to select a photo. </small>
        <small class="ml-5 d-block"> 2. Click upload to set the photo as a profile picture</small>

        <div class="row ml-5">
            <div class="col-sm-3 mt-4 bg-white">
                <p class="lead mr-2 pl-2">Friends</p>
                {% for user in allUsers %}
                <a href="/user/{{user.id}}">{{user.firstName}}</a>
                {% endfor %}
            </div>
            <div class="col-sm-7 ml-5">
                <h6 class="mb-2 ml-3">What's On Your Mind?</h6>

                <!-- The below code is for the post a message form -->
                <form class="mb-2 bg-white col-sm-12" action="/processMessage" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="textArea"></label>
                        <textarea class="form-control" id="" name="userMessage" rows="2"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 btn-sm">Post A Message</button>
                </form>
                <small class="font-weight-bold">Posts</small>
                <!-- The above code is for the post a message form -->

                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td class="border border border-light bg-white">
                                <h6 class="col-sm-10 mb-0">
                                    {% for message in userMessages %}
                                    <a href="user/{{message.id}}">{{message.user.firstName}}
                                        {{message.user.lastName}}</a>
                                </h6>
                                <small class="ml-3">{{message.user.createdAt}}</small>
                                <p class="col-sm mb-0 ml-0">{{message.message}} </p>
                                <!-- <div class="bg-light"> FIGURE OUT HOW TO FLOAT THIS TO THE RIGHT
                                    <a class="" href=""> # Comments</a>
                                    <a class="" href="">Share</a>
                                </div> -->

                                <div class=" col-sm-12 mr-3 pl-5 bg-light">
                                    <a class="mr-2 hover" href="/like/{{message.id}}">Like</a>
                                    <a class="mr-2" href="/unlike/{{message.id}}">Unlike</a>
                                    <a class="" href="">Comment</a>
                                </div>

                                <div class="col-sm ml-5">
                                    <!-- The below line of code displays what the user would see when they like a message -->
                                    {% if loggedInUser in message.userLikes.all %}
                                    <small class=""> You </small>
                                    {% endif %}
                                    <!-- The above line of code displays what the user would see when they like a message -->

                                    <!-- The below line of code does not display the logged in user's like(code above does) and the word 'others' if there is only one like -->
                                    {% for name in message.userLikes.all %}
                                    {% if loggedInUser != name %}
                                    {% if likesCount < 2 %}
                                    <small class=""> {{name.firstName}} liked your message </small>
                                    <!-- The above line of code does not display the logged in user's like(code above does) and the word 'others' if there is only one like -->
                                    {% else %}
                                    <!-- The below line of code displays the word 'others' if there is more than one like -->
                                    <small class=""> ,{{name.firstName}}, & {{likesCount}} others </small>
                                    <!-- The above line of code displays the word 'others' if there is more than one like -->


                                    <!-- <small class=""> {{name.firstName}}, & {{likesCount}} others </small> -->
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}

                                </div>

                                {% for comment in message.comments.all %}
                                <!-- <p class="col-sm ml-4 sm mb-0">{{comment.user.firstName}} {{comment.user.lastName}}
                                    {{message.user.createdAt}}</p> -->
                                <p class="col-sm-8 ml-5 mb-0 rounded-pill bg-light">
                                    <a href="/user/{{comment.user.id}}">{{comment.user.firstName}}
                                        {{comment.user.lastName}}</a>
                                    {{comment.comment}}
                                </p>
                                {% endfor %}

                                <!-- The below line of code is the form to post a comment. -->
                                <form class="col-sm ml-0 sm mb-0 mt-0 pt-0 pb-0" action="/processComments"
                                    method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="textArea"></label>
                                        <input type="hidden" id="" name="postLocationForComment" value="{{message.id}}">
                                        <textarea
                                            class="form-control form-control-sm col-sm-8 rounded-pill bg-light text-black"
                                            id="exampleFormControlTextarea1" rows="1" name="userComment"></textarea>
                                        <button type="submit"
                                            class="btn btn-primary mb-0 mt-1 btn-success btn-sm">Comment</button>
                                    </div>
                                </form>
                                <!-- This above line of code is the form to post a comment. -->
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>

</html>